body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #0b0e13;
    color: #f1f1f1;

}



nav {
    font-family: "Chakra Petch", sans-serif;

    border-bottom: 1px solid oklch(27.8% .033 256.848);
    background-color: var(--secondary-color);
    margin-inline: auto;


}

::selection {
    background-color: #CBFE1C;
    color: #0B0E13;
}

:root {
    --main-color: #CBFE1C;
    --secondary-color: #0B0E13;
    --color-light: #f1f1f1;
    --main-font-family: font-family: "Chakra Petch", sans-serif;
    --secondary-font-family: font-family: "Days One", sans-serif;
    --leading-tight: 1.25;
}

.text-white {
    color: #f1f1f1;
}


/* * Start navbar section */
nav .container-lg .navbar-brand {
    color: #CBFE1C;
    font-size: 20px;
    font-weight: 700;
    margin-inline-end: 25px;
}

.navbar .navbar-nav .nav-link {
    transition: color 0.15s;
}

.navbar .navbar-toggler {
    border: none;
    box-shadow: none;
    color: #f1f1f1;
    transition: color 0.3s;

}

.navbar .navbar-toggler:hover {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--main-color) !important;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--main-color) !important;
}

.navbar .container-lg .sign-in .sign-in-btn1 {
    margin-inline-end: 2px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #f1f1f1;
    transition: color 0.15s;

}

.navbar .container-lg .sign-in .sign-in-btn2 {
    margin-inline-end: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #f1f1f1;
    transition: color 0.15s;

}

.navbar .container-lg .sign-in .sign-in-btn1:hover,
.navbar .container-lg .sign-in .sign-in-btn2:hover {
    color: var(--main-color);

}


.navbar .container-lg .sign-in .sign-in-btn3 {
    padding-inline: 24px;
    padding-block: 8px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    margin-inline-end: 16px;
    transition: all 0.15s;
    position: relative;
    overflow: hidden;

}


.navbar .container-lg .sign-in .sign-in-btn3:hover {
    background-color: color-mix(in oklab, var(--main-color) 80%, transparent);

}

@media (max-width:992px) {
    .navbar .container-lg .sign-in .sign-in-btn3 {
        padding-inline: 105px;
        padding-block: 11.25px;
        text-align: center;
        border-radius: 7.5px;

    }
}

/* * End navbar section */

/* * Start header section */
header {
    background-image: linear-gradient(#000000e0, #000000e0), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 64px;
    padding-top: 120px;

    display: flex;
    position: relative;
    align-items: center;
}

header .hero {
    padding-block: 0;
    margin-inline: auto auto;
    position: relative;
    z-index: 10;
    color: #f1f1f1;
}

header .hero .hero-inner {
    display: grid;
    gap: 48px;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

header .hero .hero-inner .hero-inner-content {
    text-align: left;
}


header .hero .hero-inner .hero-inner-content h1 {
    font-size: 60px;
    font-weight: 700;
    --leading-tight: 1.25;
    font-family: "Days One", sans-serif;
    margin-bottom: 24px;
}

header .hero .hero-inner .hero-inner-content h1 span {
    color: var(--main-color);
}

header .hero .hero-inner .hero-inner-content p {
    max-width: 576px;
    margin-bottom: 32px;
    line-height: 1.625;
    color: oklch(87.2% .01 258.338);
}

header .hero .hero-inner .hero-inner-content .btn-inner {
    flex-direction: row;
    gap: 16px;
    display: flex;
}

header .hero .hero-inner .hero-inner-content .btn-shine1 {
    padding-block: 16px;
    padding-inline: 32px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    transition: all 0.15s;

}

header .hero .hero-inner .hero-inner-content .btn-shine1:hover {
    background-color: color-mix(in oklab, var(--main-color) 80%, transparent);

}



header .hero .hero-inner .hero-inner-content .btn-shine2 {
    padding-block: 16px;
    padding-inline: 32px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    transition: all 0.15s;

}

header .hero .hero-inner .hero-inner-content .btn-shine2:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

header .hero .hero-inner-img img {
    height: 384px;
    object-fit: cover;
    border-radius: 12px;

}

header .hero .hero-inner-img {
    margin-top: 0;
    position: relative;

}

@media (max-width:992px) {
    header .hero .hero-inner-img img {
        height: 320px;
        object-fit: cover;
        border-radius: 12px;

    }
}


header .hero .hero-inner .hero-inner-img-holder {
    padding: 4px;
    border-radius: 16px;
    width: 93%;
    background-image: linear-gradient(to right, #cbfe1c, oklch(79.2% .209 151.711));


}

header .hero .hero-inner .hero-inner-img .hero-inner-img-icon{
    height: 95px;
    width: 168px;
    position: absolute;
    top:320px ;
    left: -25px;
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000000f;
    border: 1px solid oklch(37.3% .034 259.733);
    background-color: var(--secondary-color);
    border-radius: 8px;
   /* text-align: center; */
}

header .hero .hero-inner .hero-inner-img .hero-inner-img-icon i{
    color:#CBFE1C;
    font-size: 19px;
    position: absolute;
    left: 20px;
top: 39px;
}

header .hero .hero-inner .hero-inner-img .hero-inner-img-icon  .p-p1{
    font-size: 12px;
    font-weight: 400;
    color: oklch(70.7% .022 261.325);
margin-top: 15px;
   /* margin-bottom: 0; */
position: absolute;
left: 60px;
top: 10px;
} 

header .hero .hero-inner .hero-inner-img .hero-inner-img-icon  .p-p2{
    font-size: 20px;
    font-weight: 700;
    color:var(--color-light);
   /* margin-bottom: 0; */
   position: absolute;
top: 40px;
left: 60px;
} 
/* * End header Section */

/* ! Start Main */

/* * Start Our-Games Section */


.our-games{
    padding-block: 96px;
   
}


@media (max-width:992px) {
    .our-games .container .sm\:px-6 {
      padding-inline: 24px;

    }
}


.our-games .our-games-title{
margin-bottom: 64px;
}

.our-games .our-games-title h2{
font-size: 48px;
font-weight: 700;
line-height:1;
font-family: Days One, sans-serif;
}

.our-games .our-games-title .our-games-p{
    font-weight: 700;
line-height:1.5;
color: var(--main-color);
letter-spacing:3.2px;
margin-bottom: 16px;
position: relative;
display: inline-block;
}

.our-games .our-games-title .our-games-p::before{
content: "";
position: absolute;
left: -80px;
top: 50%;
transform: translate(0,-50%);
height: 2px;
width: 64px;
 background-image: linear-gradient(to right , #00000000 0%, var(--main-color) 50%, var(--main-color) 100%);
}


.our-games .our-games-title .our-games-p::after{
    content: "";
    position: absolute;
right: -80px;
top: 50%;
transform: translate(0,-50%);
height: 2px;
width: 64px;
 background-image: linear-gradient(to left , #00000000 0%, var(--main-color) 50%, var(--main-color) 100%);
}

.carousel-inner .carousel-item .img-holder img{
  
    cursor: pointer;
    /* height: 350px; */
    transition: all 0.5s;
    border-radius: 16px;
    overflow: hidden;
   
}
.carousel-inner .carousel-item .img-holder img:hover{
 border-radius: 12px;
    transform: scale(1.05);
  
 
}

.carousel-inner .carousel-item .img-holder{
    width: 95%;
   
}

.carousel-inner .carousel-item {
    flex-shrink: 0;
    /* padding-inline: 16px; */
    /* display: inline-block; */
}

.carousel-inner .carousel-item .title-more{
   padding-inline: 10px;
   margin-inline: 0;
  
}




.carousel-indicators [data-bs-target]{
width: 56px;
height: 56px;
border-radius: 50%;
text-indent: 0px;
background-color: transparent;
border: 2px solid oklch(37.3% .034 259.733);
color: oklch(70.7% .022 261.325);
transition: all 0.3s;
display: flex;
justify-content: center;
align-items: center;
margin-inline-end:10px;

}

.carousel-indicators [data-bs-target]:hover{
    color: var(--main-color);

}
.carousel-indicators i{
    font-size: 19px;
  
}
.carousel-indicators.sassa{
    bottom: -105px;
    right: 200px;
}


#carouselExampleIndicators .btn-view-all-games {
    padding-block: 16px;
    padding-inline: 32px;
    position: absolute;
    
    right:10px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--main-color);
    transition: all 0.15s;

}

@media (max-width:992px) {
    #carouselExampleIndicators .btn-view-all-games {
    padding-block: 16px;
    padding-inline: 32px;
    position: absolute;
    
    right:-220px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--main-color);
    transition: all 0.15s;

}
}

#carouselExampleIndicators .btn-view-all-games:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}


/* * End Our-Games Section */




/* ! End Main */